<div class="container hide-show" id="todoContainer">
    <div style="height: 100%;width:100%;display:flex;justify-content:center;align-items:center;">
        <p style="font-size: 30px;">
            Coming Soon
        </p>
    </div>
</div>