
:root {
  --rad: .7rem;
  --dur: .3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #57bd84;
  --font-fam: 'Lato', sans-serif;
  --height: 5rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

.filterform {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--color-brand);
  border-radius: var(--rad);
}
.filterinput, .filterbutton {
  height: 100%;
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 20px;
}
.filterinput[type="search"] {
  outline: 0; 
  width: 100%;
  background: var(--color-light);
  padding: 0 5px;
  border-radius: var(--rad);
  appearance: none; 
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
  box-shadow: 2px 5px 10px 1px #9d9d9d;
}
.filterbutton {
  display: none; 
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;
}
.filterinput:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
  
}
.filterinput + .filterbutton {
    display: block;
  }
.filterlabel {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.filters{
    width:90%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: 5%;
}

.filterCard{
    height: 100%;
    width: 33.33%;
}

.filterShape{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.filterOutterDiv{
    width: 100%;
    height:100%;
    position: relative;
}

.filterInnerDiv{
  width: 95%;
  overflow-y:scroll;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.filterUL{
  position: absolute;
  top:10px;
  left:10px;
  list-style: none;
  min-width: 200px;
}

.filterLi{
  width:100%;
  border-bottom: solid #9D9D9D;
}

#results{
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide-tr{
  display: none;
}